name: Build

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  job_build_upload:
    name: Build and upload distribution artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current commit (${{ github.sha }})
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Maven Plugin distribution artifacts
        run: |
          ./mvnw --batch-mode -DdryRun=true clean release:prepare-with-pom
          mv pom.xml.tag pom.xml
          cp release-pom.xml pom-default.xml
          ./mvnw clean package assembly:single

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/target/*.zip
