name: Pre Merge Checks

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  pre-merge-checks:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      SENTRY_URL: http://127.0.0.1:8000

    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3

      - name: Setup Java Version
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build the Release variant, run integration tests
        run:  |
          test/integration-test-server-start.sh &
          ./mvnw clean verify -PintegrationTests
